.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
  box-sizing: border-box; 
}

.login-form {
  width: 100%;
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  box-sizing: border-box; 
}

.login-form div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; 
  box-sizing: border-box; 
}

.password-field {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 47%;
  cursor: pointer;
}

button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px; 
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.8em;
}

/* Media Queries */

/* Tablet Devices (768px and below) */
@media (max-width: 768px) {
  .login-container {
    padding: 15px;
  }

  .login-form {
    width: 90%;
    max-width: 500px; 
  }

  input, button {
    font-size: 16px;
    padding: 14px;
  }
}

/* Mobile Devices (480px and below) */
@media (max-width: 480px) {
  .login-container {
    padding: 10px;
  }

  .login-form {
    width: 90%; 
  }

  input, button {
    font-size: 14px;
    padding: 12px; 
  }

  h2 {
    font-size: 1.5em; 
  }
}

/* Large Mobile Devices and Small Tablets (between 481px and 1024px) */
@media  (min-width: 481px) and (max-width: 1024px) {
  .login-container {
    padding: 15px;
  }

  .login-form {
    width: 90%;
    max-width: 600px; 
  }

  input, button {
    font-size: 16px;
    padding: 14px; 
  }

  h2 {
    font-size: 2em; 
  }
}

/* Laptops (1024px and above) */
@media (min-width: 1024px) {
  .login-container {
    padding: 20px;
  }

  .login-form {
    width: 50%; 
    max-width: 600px; 
  }

  input, button {
    font-size: 18px; 
    padding: 16px; 
  }

  h2 {
    font-size: 2.5em; 
  }
}
